/* list container*/
.list{
    background-color: transparent;
    width: 100%;
}
/* ul */
.todo{
    width: 100%;
    list-style-type: none;
    padding: 0px;
}
.done{
    width: 100%;
    list-style-type: none;
    padding: 0px;
}

/* li*/
.todo li{
    width:100%;
    background-color: #6C7A89;
    border-radius: 5px;
    text-indent: 30px;
    position: relative;
    margin: 0px 0px 3px 0px;
    font-size: medium;
    line-height: 40px;
    color: white;
}

.done li{
    width:100%;
    background-color: #6C7A89;
    border-radius: 5px;
    text-indent: 30px;
    margin: 0px 0px 3px 0px;
    font-size: medium;
    line-height: 40px;
    position: relative;
    color: rgb(7, 216, 7);
    text-decoration-line: line-through
}
.todo li:last-of-type {
    margin: 0px;
}
.done li:last-of-type {
    margin: 0px;
}
/* list buttons container*/
.buttons{
    width: 80px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
}
/* button tags in li*/
.buttons button{
    width: 40px;
    height: 40px;
    float: left;
    background: none;
    border: 0px;
    position: relative;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
   
}
.buttons button:last-of-type::before{
    content: "";
    width: 1px;
    height: 20px;
    position: absolute;
    top: 10px;
    left:0px;
    background: #6C7A89;
}
/* svg icon delete*/
.buttons button img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 46%;
    left: 44%;
    margin: -11px 0 0 -11px;
    cursor: pointer;
}
.remove .active-path{
    fill: grey
}
.remove:hover .active-path{
    fill:red;
}
.complete .active-path{
    fill:white
}
.complete:hover .active-path{
    fill:grey;
}
#done .complete .active-path{
    fill:green
}
#done .complete:hover .active-path{
    fill:white
}